.page-illustset
    .back
        .container.center
            p.site-navi
                a(href='/') トップページ
                span.arrow >
                a(href='illustset.html') #{page.title}
            .thumbnail
                img(src=page.hero, alt=page.title)
            .feature
                .feature-text
                    h3=page.title
                        each line in page.summary
                            p=line
                .downloader
                    a(href=page.download download=page.zipname)
                        button 全てをダウンロード
                    p 画像をクリックすると個別にダウンロードすることができます。
    .container
        .illust-set
            each illust in page.imgset
                .illust-link
                    a(href=illust.href)
                        .illust
                            img(src=illust.img, alt=illust.title)
                            p=illust.title
        .back-to-top
            a(href='/')
                button トップに戻る

